* {
  margin: 0;
  padding: 0;
}

body{
  width: 1350px;
}

.menu {
  height: 40px;
  margin: 40px 0 40px 0;
}

.main-container {
  padding: 50px 48px 60px 46px;
  width: 966px;  
  height: 840px;
  margin: 0 auto;
  border: 1px solid black;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

h1 {
  font-size: 40px;
  font-family: "Myriad Pro", "Arial", sans-serif;
}

.navigation a,
.sidebar a,
.main-footer a {
  text-decoration: none;
  display: block;
}

.navigation a {
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-left: 24px;
  padding-bottom: 10px;
  width: 140px;
}

.sidebar a {
  color: rgb(101, 99, 99);
  padding-top: 13px;
  padding-left: 24px;
  padding-bottom: 10px;
  width: 216px;
  min-height: 40;
}

.main-footer a{
  color: rgb(92, 92, 92);
  padding-top: 10px;
  padding-left: 24px;
  padding-bottom: 10px;
  width: 140px;
}

.navigation a:hover {
  background: rgb(69, 69, 69);
}

.sidebar a:hover {
  color: rgb(0, 0, 0);
  background: rgb(249, 249, 249);
  padding-left: 35px;
  width: 203px;
}

.main-footer a:hover{
  text-decoration: underline;
}

.navigation {
  background: rgb(87, 86, 86);
  color: rgb(255, 255, 255)
}

.sidebar {
  background: rgb(255, 255, 255);
  height: 240px;
  width: 240px;
  float: left;
}

/*.content1 {
  background: blue;
  width: 678px;
  height: 400px;
  float: right;
}*/

ul {
  list-style: none;
  
}

.navigation li {
  display: inline-block;
  border-left: 1px solid rgb(200, 200, 200);
  font-size: 15px;
  font-family: "Myriad Pro", "Arial", sans-serif;
}


.sidebar li {
  border: 1px solid rgb(200, 200, 200);
  font-size: 13px;
  font-family: "Myriad Pro", "Arial", sans-serif;
}

.main-footer  li {
  display: inline-block;
  border-left: 1px solid rgb(200, 200, 200);
  font-size: 14px;
  font-family: "Myriad Pro", "Arial", sans-serif;
}
.copy {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 14px;
  font-family: "Myriad Pro", "Arial", sans-serif;
}
img {
  width: 678px;
  height: 400px;
  float: right;
}

.content {
  width: 629px;
  height: 160px;
  padding: 40px 25px 40px 24px;
  float: right;
  font-size: 13px;
  line-height: 22px;
  font-family: "Myriad Pro", "Arial", sans-serif;
}

.main-footer {
  background: rgb(225, 225, 225);
  clear: both;
  color: rgb(44, 44, 44);
  position: relative;
  
}
