body {
  width: 1280px;
  margin: 0;
  padding: 0;
  background: url(../img/background.jpg) no-repeat;
}

.main-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: 0px 4px 5px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 3px rgba(0,0,0,0.75);
}
.main {
  background:#ffffff;
  min-height: 20px;
  clear: both;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.logo {
  width: 283px;
  position: relative;
  min-height: 50px;  
  float: left;  
  padding-left: 25px;
}
.logo-text {
  position: absolute;
  text-align: center;
  top: 76px;
  left: 72px;
}
.contact {
  min-height: 50px;
  float: right;  
  width: 370px; 
}

.contact p {
  padding-left: 215px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul:after {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

.countries {
  min-height: 20px;  
  float: right;  
  width: 370px;
}

.country-pic li {
  padding-left: 7px;
  padding-right: 7px;
}
.country-name li {
  width: 57px;
  text-align: center;
  
}

.country-pic {
  margin: 0;
}

.country-name {
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  margin: 0;
}

.container {
  min-height: 20px;

}
.picture {
  margin: 0;
  padding: 0;
  width: 1000px;
  min-height: 20px;
}

.picture img {
  margin: 0;
  padding: 0;
}

.navigation {
  background:#333333;
  min-height: 20px;
  clear: both;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.navigation li {
  padding-left: 30px;
  padding-right: 30px;
}
.navigation a {
  text-decoration: none;
  color: #ffffff; 
}

.mark {
  padding-left: 10px;
  text-decoration: none;

}



ul.menu {
  position: relative;
}
ul.menu > li {
  display: inline-block;
}

ul.submenu {
  display: none;
  position: absolute;
  width: 175px;
  top: 20px;
  left: 107px;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
}

ul.submenu > li {
  display: block;

}

ul.submenu > li > a {
  display: block;
  padding-left: 9px;
  background-color: #333333;
}

ul.submenu > li > a:hover {
  text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
  display: block;
}

.content {
  overflow: hidden;
  background: #ffffff;
  min-height: 20px;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
}

.left-side p, 
.right-side p {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.left-side {
  float: left;
  width: 210px;
  background: #edeef0;
  min-height: 20px;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding-top: 7px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.right-side {
  float: right;
  width: 210px;
  background: #edeef0;
  min-height: 20px;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding-top: 7px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.center {
  float: left;
  width: 580px;
  background:#ffffff;
  min-height: 20px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}

.copy {
  min-height: 20px;
  clear: both;
  text-align: center;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}